<!doctype html>
<html>
  <head>
    <title>Which Disposable Vape is Better?</title>
    <style>
         
     
        /* css of main layout */
          body {
            font-family: Arial, sans-serif;
          }
         h1{
            display: block;
            text-align: center;
            margin: 20px auto;
          }

       h2{
            display: block;
            text-align: center;
          
          }

          /* css of dropdown */

.dropdown-wrapper {
      text-align: center;
     
      
    }
      
          .dropdown-container {
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: 0 auto;
          }
          .dropdown {
            text-align: center;
            width: 70%;
            font-size: 20px;
          /* padding: 10px; */
          background-color: white;
          color: #454040;
          border: 1px solid #e5e5e5;
          }

   
          /* CSS of "x" vs. "x"  */
      .comparison-header {
            text-align: center;
            margin: 20px 0;
          }
    .dropdown-gap {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #2E323B; /* Desired color */
  margin: 20px auto; /* Adjust vertical spacing */
}
      
          /* css of images  */
       .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 500px; /* Match the dropdown width */
      max-width: 100%; /* Set the max width for the image container */
      margin-top: 10px;
    }
    .dropdown-image {
      width: 50%; /* Fixed width for the image */
      height: auto; /* Preserve aspect ratio */
    }

   /* Subheader for each category */
      .split-columns {
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
        max-width: 70%;
      }
      .column {
        flex: 1;
       
        padding: 10px;
        text-align: center;
      }

          .header-wrapper1 {
            background-color: #e5e5e5;
            color: #2E323B;
            text-align: center;
            padding: 10px 0;
            font-weight: bold;
          }

      .header-wrapper2 {
            background-color: #2e323B;
            color: #cb9d64;
            text-align: center;
            padding: 10px 0;
            font-weight: bold;
          }
      
        /* Media query for mobile devices */
   @media screen and (max-width: 768px) {
      .dropdown-container {
        display: block;
        flex-wrap: wrap;
        width: 90%; /* Adjust width for mobile */
        margin: 0 auto; /* Center the container */
      }

      .dropdown {
        width: 100%; /* Make dropdowns span full width */
        font-size: 16px; /* Reduce font size */
      }

      .dropdown-image {
        width: 30%; /* Reduce image width */
        height: auto; /* Maintain aspect ratio */
      }
    }
      
      /* BUY LINK */

      .buy-link {
      font-weight: bold;
      font-size: 18px; /* Increase text size */
      color: #cb9d64; /* Set the color */
      text-align: center;
      cursor: pointer;
    }
      .buy-link a{
      font-weight: bold;
      font-size: 22px; /* Increase text size */
      color: #cb9d64; /* Set the color */
      text-align: center;
      cursor: pointer;
         text-decoration: none; /* Remove underline */
    }
    .buy-link a:hover {
      color: #a47c4b; /* Hover color for the link */
    }
         .winner {
      background-color: #b2d8b2; /* Pastel green color */  
      border-radius: 30px; /* Adding rounded corners */
    }

      .verdict{
       display: flex;
            justify-content: center;
            padding: 0 10%;
      }
    
        .content {
          
            text-align: center;
        }
    </style>
  </head>
  <body>
    
      <h1>Disposable Comparison Tool</h1>
       <h2>Which Vape is better?</h2>
    
    <div class="dropdown-container">
      <div class="dropdown-wrapper">
        <select id="dispo1" class="dropdown">
         <option value="Allo-2500">Allo Ultra 2500</option>
            <option value="Elf-Bar-BC-5000">Elf Bar BC5000</option>
            <option value="Elf-Bar-BC-5000-ULTRA">Elf Bar BC5000 ULTRA</option>
            <option value="Flavour-Beast-4000">Flavour Beast Flow 4000</option>
            <option value="Flip-Bar-9000">Flip Bar 9000</option>
            <option value="Geek-bar-B5000">Geekbar B5000</option>
            <option value="Geek-bar-DF-8000">Geekbar DF 8000</option>
            <option value="Geek-bar-Meloso">Geekbar Meloso</option>
            <option value="Kraze-5k">Kraze 5k</option>
            <option value="Lost-Mary-5000">Lost Mary 5000</option>
            <option value="OX-BAR-G8000">OXBAR G8000</option>
            <option value="POP-Palm-7000">POP Palm 7000</option>
            <option value="Mr-Fog-SWITCH 5500">Mr. Fog SWITCH 5500</option>
            <option value="RUFPUF-Ripper-6000">RUFPUF Ripper 6000</option>
            <option value="RUFPUF-7500">RUFPUF 7500</option>
            <option value="Slim-7500">Slim 7500</option>
            <option value="STLTH-1K">STLTH 1K</option>
            <option value="STLTH-5K">STLTH 5K</option>
            <option value="STLTH-8K">STLTH 8K</option>
            <option value="Vice-2500">Vice 2500</option>
            <option value="Vice-5500">Vice 5500</option>
            <option value="Vice-Box">Vice Box</option>
        </select>
        <div class="image-container">
          <img
            src="https://cdn.shopify.com/s/files/1/0758/1433/8851/files/Allo-ultra-_0039_Ultra-Watermelon-Ice-20mg-device_800x_b06e6ebe-25aa-4bd5-a60f-ff8ab93ecbba.webp?v=1687132552"
            alt="Allo-Ultra-2500"
            class="dropdown-image"
          >
        </div>
        <div class="buy-link"><a href="#">BUY • $24.99</a></div>
        <div style="text-align: center;"> <span > Release date: Q3 2022 </span> </div>
      </div>
      <div class="dropdown-gap"> VS </div>
      <!-- Create a space between dropdowns -->
      
      <div class="dropdown-wrapper">
        <select id="dispo2" class="dropdown">
           
 <option value="Kraze-5k">Kraze 5k</option>
          <option value="Allo-2500">Allo Ultra 2500</option>
          <option value="Elf-Bar-BC-5000">Elf Bar BC5000</option>
            <option value="Elf-Bar-BC-5000-ULTRA">Elf Bar BC5000 ULTRA</option>
            <option value="Flavour-Beast-4000">Flavour Beast Flow 4000</option>
            <option value="Flip-Bar-9000">Flip Bar 9000</option>
            <option value="Geek-bar-B5000">Geekbar B5000</option>
           <option value="Geek-bar-DF-8000">Geekbar DF 8000</option>
            <option value="Geek-bar-Meloso">Geekbar Meloso</option>
           
            <option value="Lost-Mary-5000">Lost Mary 5000</option>
            <option value="OX-BAR-G8000">OXBAR G8000</option>
            <option value="POP-Palm-7000">POP Palm 7000</option>
            <option value="Mr-Fog-SWITCH 5500">Mr. Fog SWITCH 5500</option>
            <option value="RUFPUF-Ripper-6000">RUFPUF Ripper 6000</option>
            <option value="RUFPUF-7500">RUFPUF 7500</option>
            <option value="Slim-7500">Slim 7500</option>
            <option value="STLTH-1K">STLTH 1K</option>
            <option value="STLTH-5K">STLTH 5K</option>
            <option value="STLTH-8K">STLTH 8K</option>
            <option value="Vice-2500">Vice 2500</option>
            <option value="Vice-5500">Vice 5500</option>
            <option value="Vice-Box">Vice Box</option>
        </select>
        <div class="image-container">
          <img
            src="https://cdn.shopify.com/s/files/1/0758/1433/8851/files/Pods-0000-KRAZE-5K-JUN2023-RENDER-FAM-20mg-WatermelonIce-_1_12ac07c0-7149-4938-9e04-44a99c93df9f.jpg?v=1692931795"
            alt="Kraze-5k"
            class="dropdown-image"
          >
        </div>
        <div class="buy-link"><a href="https://www.newcityvapes.com/collections/geek-bar">BUY • $24.99</a></div>
         <div style="text-align: center;"> <span > Release date: Q3 2023 </span> </div>
      </div>
    </div>
    <h2 class="comparison-header">Allo 2500 vs. Kraze 5K</h2>

    <div class="header-wrapper1">PUFF COUNT</div>
    <div class="split-columns">
      <div class="column">2500</div>
      <div class="column winner">5000</div>
    </div>
    <div class="header-wrapper1">ML</div>
  <div class="split-columns">
      <div class="column">8 ml</div>
      <div class="column winner">10 ml</div>
    </div>
    <div class="header-wrapper1">BATTERY</div>
    <div class="split-columns">
      <div class="column winner">1500 mAh</div>
      <div class="column">650  mAh</div>
    </div>
    <div class="header-wrapper1">PRICE</div>
    <div class="split-columns">
      <div class="column ">$24.99</div>
      <div class="column">$24.99</div>
    </div>
    <div class="header-wrapper1">PRICE PER ML</div>
    <div class="split-columns">
      <div class="column">$3.12 per ml</div>
      <div class="column winner">$2.50 per ml</div>
    </div>
    <div class="header-wrapper1">NUMBER OF FLAVOURS</div>
    <div class="split-columns">
      <div class="column winner">15  </div>
      <div class="column ">9</div>
    </div>
    <div class="header-wrapper1">RECHARGEABLE? (Y/N)</div>
    <div class="split-columns">
      <div class="column">No</div>
      <div class="column winner">Yes</div>
    </div>
    <div class="header-wrapper1">NICE TO HAVES</div>
    <div class="split-columns">
      <div class="column">Mesh Coil</div>
      <div class="column">Mesh coil, Battery indicator, Adjustable airflow control</div>
    </div>
    <div class="header-wrapper1">COMMENTS</div>
    <div class="split-columns">
      <div class="column">Low Sweetner</div>
        <div class="column">Affordable, Mid level sweetness, Much Newer</div>
    </div>
    <div class="header-wrapper2">VERDICT</div>
       <div class="verdict">
        <div class="content">
 <h1 ><strong>WINNER: KRAZE 5K</strong></span></h1>

<p>When it comes to choosing between the <span class="product">ALLO Ultra 2500</span> and the <span class="product">KRAZE 5K</span>, the clear winner is the <span class="product">KRAZE 5K</span> for a variety of compelling reasons.</p>

<p>With an impressive <span class="product">5000 puffs</span> and a generous <span class="product">10 ml</span> liquid capacity, the <span class="product">KRAZE 5K</span> takes the lead in both longevity and capacity. Its <span class="product">650 mAh</span> battery, while smaller than the ALLO Ultra 2500's, is remarkably efficient and keeps you vaping longer. The <span class="product">KRAZE 5K</span> is also competitively priced at just <span class="product">$2.50 per ml</span>.</p>

<p>Boasting <span class="product">9 flavors</span> to choose from, the <span class="product">KRAZE 5K</span> caters to a variety of tastes. Its added features, including a <span class="product">Mesh coil</span> for enhanced flavor, <span class="product">Battery indicator</span> for better awareness, and <span class="product">Adjustable airflow control</span> for personalized vaping experiences, put it ahead in terms of versatility. The device's affordability and mid-level sweetness profile make it a well-rounded choice.</p>

<p>While the <span class="product">ALLO Ultra 2500</span> offers solid performance with <span class="product">2500 puffs</span> and <span class="product">10 ml</span> liquid capacity, the <span class="product">KRAZE 5K</span> stands out with its higher puff count, advanced features, and affordable pricing. Choosing the <span class="product">KRAZE 5K</span> means embracing an elevated vaping experience that combines performance, versatility, and value.</p>

<p>For those seeking a standout vaping option, the <span class="product">KRAZE 5K</span> emerges as the superior choice. To explore the <span class="product">KRAZE 5K</span> and other exceptional vaping devices, visit reputable retailers and discover why it's the device that sets the bar high for vaping enthusiasts.</p>

    </div>
       </div>>
    <script>
      
      document.addEventListener("DOMContentLoaded", function () {
      const dispo1Dropdown = document.getElementById("dispo1");
      const dispo2Dropdown = document.getElementById("dispo2");

      function updateComparisonResults() {
        const selectedDispo1 = dispo1Dropdown.value;
        const selectedDispo2 = dispo2Dropdown.value;
        const newURL = `/pages/${selectedDispo1}-vs-${selectedDispo2}`;
        window.location.href = newURL; // Redirect to the new URL
      }

      dispo1Dropdown.addEventListener("change", updateComparisonResults);
      dispo2Dropdown.addEventListener("change", updateComparisonResults);
    });

    </script>
  </body>
</html>
